/* 版心*/
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont::after {
    content: '';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 105px;
    background-color: skyblue;
}

.logo {
    position: absolute;
    top: 36px;
    left: 36px;
    height: 32px;
    width: 32px;
    /* background-color: #666; */
}

.logo a{
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/购物.png) no-repeat center center;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #c81623 ;
}

.search input{
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button{
    float: right;
    width: 80px;
    height: 32px;
    background-color: #c81623;
    color: white;
}

