@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1761571486591') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-arrows-copy-copy:before {
  content: "\e601";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-jiantou:before {
  content: "\e636";
}

.icon-gouwuche:before {
  content: "\e65e";
}

.icon-icon_zuo:before {
  content: "\e64a";
}

.icon-you:before {
  content: "\e60f";
}

.icon-gouwuche1:before {
  content: "\e6da";
}

.icon-layui-extend-tuya_huabanfuben:before {
  content: "\e503";
}

